* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    /* border: 3px solid red; */
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    background-color: #E7FBBE;
    font-family: 'Fjalla One', sans-serif;
}

header {
    padding: 50px 0;
    /* border: 3px solid blue; */
    display: flex;
    justify-content: center;
    background-color: #FFFDDE;
}

.shadow {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.3;
    z-index: 10;
    top: 0px;
}

header div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0 2rem;
}

header div span {
    font-size: 3rem;
}

header div img {
    height: 4rem;
    width: auto;
}

.form-container {
    /* border: 5px solid rgb(165, 197, 105); */
    z-index: 20;
    width: 300px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 20px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    /* transition: opacity 1s ease-in-out; */
}

.form-container p {
    padding: 20px 0;
    text-align: center;
}

.question-container {
    margin: 15px 40px;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    width: 100%;
}

.create {
    align-self: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 150px;
    cursor: pointer;
    font-family: 'Hind Siliguri', sans-serif;
}

.create:hover {
    background-color: #bdbdbd;
}

.cross {
    position: absolute;
    width: 20px;
    border: 1px solid red;
    height: 20px;
    top: 15px;
    right: 15px;
    align-self: flex-start;
    border: none;
    background-color: #fff;
    border-radius: 5px;
}

.cross:hover {
    font-weight: bold;
    background-color: #bdbdbd;
}

.invisible {
    display: none;
}

.shelf {
    display: flex;
    flex-flow: row wrap;
    /* border: 2px solid rgb(176, 184, 63); */
    gap: 30px 30px;
    min-height: 300px;
    width: 85%;
    align-self: center;
    border-radius: 20px;
    text-align: center;
    background-color: #fcefe6;
}

.card {
    font-size: 1.5rem;
    border: 2px solid black;
    min-height: 250px;
    max-height: 400px;
    width: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    transition: background 0.45s ease-in-out;
    /* gap: 20px; */
    flex: 0 0 auto;
    font-family: 'Libre Baskerville', serif;
}

.card p {
    text-align: center;
}

.book-status{
    cursor: pointer;
    font-size: 1rem;
}

.book-status:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.add-new-book {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    /* border: none; */
    border: 1px solid rgb(87, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 1;
    transition: transform border 0.5s ease-in-out;
}

.plus {
    transition: transform 0.5s ease-in-out;
    font-size: 5rem;
    color: rgb(0, 0, 0);
}

.add-new-book:hover {
    transform: scale(1.08);
    border: 3px solid rgb(3, 3, 3);
}

.add-new-book:hover .plus {
    transform: rotate(270deg);
}

.book-read,
.book-not-read {
    height: 2rem;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0;
    padding: 0;
}

.book-read:hover,
.book-not-read:hover {
    cursor: pointer;
}

.book-card-read {
    background: rgb(182, 233, 182);
}

.book-card-not-read {
    background: rgb(248, 89, 89);
}

.book-card-not-read {
    color: white;
}

.book-remove{
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px;
    transition: background 0.5s ease-in-out;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8rem;
}

.book-card-read .book-remove {
    background: rgb(248, 89, 89);
    color: white;
}

.book-card-not-read .book-remove {
    background: rgb(182, 233, 182);
}

.book-remove:hover {
    cursor: pointer;
    background-color: #bdbdbd;
}

