* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    background-color: #E7FBBE;
    font-family: 'Fjalla One', sans-serif;
}

header {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    background-color: #FFFDDE;
}

.shadow {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.3;
    z-index: 2;
    top: 0px;
}

.invisible {
    display: none;
}

header div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0 2rem;
}

header div span {
    font-size: 3rem;
}

.logo {
    height: 4rem;
    width: auto;
}

.form-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: 'Hind Siliguri', sans-serif;
    z-index: 3;
}

.form-container p {
    padding: 20px 0;
    text-align: center;
}

.question-container {
    margin: 15px 40px;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    width: 100%;
}

input#name,
input#author,
input#pages {
    width: 200px;
    height: 30px;
    border: 1.5px solid black;
    border-radius: 6px;
}

.new-book-final {
    align-self: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 150px;
    cursor: pointer;
    font-family: 'Hind Siliguri', sans-serif;
    transition: background-color 0.4s ease-in-out, border 0.4s ease-in-out, font-weight 0.4s ease-in-out;
}

.new-book-final:hover {
    background-color: #d1d1d1;
    border: 1.5px solid black;
    font-weight: bold;
}

.cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
}

.cross:hover {
    font-weight: bold;
    background-color: #bdbdbd;
}

.shelf {
    display: flex;
    flex-flow: row wrap;
    gap: 30px 30px;
    min-height: 300px;
    width: 85%;
    padding: 20px;
    border-radius: 20px;
    align-self: center;
    text-align: center;
    background-color: #fcefe6;
}

.card {
    font-size: 1.3rem;
    min-height: 260px;
    max-height: 404px;
    width: 204px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    flex: 0 0 auto;
    transition: all 0.25s ease-in-out, border 0.15s ease-out;
    font-family: 'Libre Baskerville', serif;
}

.card:hover{
    transform: scale(1.012);
}

.card p {
    max-width: 100%;
    text-align: center;
    word-wrap: break-word;
}

.book-status {
    cursor: pointer;
    font-size: 1rem;
}

.book-status:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.add-new-book {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 1px solid rgb(87, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 1;
    transition: transform 0.5s ease-in-out, border 0.5s ease-in-out, background 0.5s ease-in-out;
}

.plus {
    height: 3.4rem;
    transition: transform 0.5s ease-in-out;
}

.add-new-book:hover {
    transform: scale(1.08);
    border: 2px solid rgb(3, 3, 3);
    background-color: rgb(255, 255, 255);
}

.add-new-book:hover .plus {
    transform: rotate(270deg);
}

.book-read:hover,
.book-not-read:hover {
    cursor: pointer;
}

.book-card-read {
    background: rgb(182, 233, 182);
}

.book-card-not-read {
    background: rgb(255, 100, 100);
    color: white;
}

.book-remove {
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px;
    transition: filter 0.5s ease-in-out;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.9rem;
}

.book-card-read .book-remove {
    background: rgb(248, 89, 89);
    color: white;
}

.book-card-not-read .book-remove {
    background: rgb(182, 233, 182);
}

.book-remove:hover {
    cursor: pointer;
    filter: brightness(90%);
}

#read, #not-read{
    accent-color: rgb(175, 220, 175);
}

